<template>
  <div class="card">
    <div class="card-header">{{ header }}</div>
    <div class="card-body">
      <pie-chart v-bind:chart-data="chartData"></pie-chart>
    </div>
  </div>
</template>

<script>
import PieChart from './PieChart'
import colors from '../lib/colors'

export default {
  components: {
    PieChart
  },
  name: 'chart-card',
  props: {
    header: {
      type: String,
      required: true
    },
    rawData: {
      type: Object,
      required: true
    },
    maxPieces: {
      type: Number,
      required: false,
      default: 7,
      validator (value) {
        return Number.isInteger(value) && value > 2
      }
    }
  },
  computed: {
    chartData () {
      let entries = []

      for (let entry in this.rawData) {
        entries.push({
          label: entry,
          value: this.rawData[entry]
        })
      }

      entries = entries.sort((one, two) => {
        if (one.value > two.value) return -1
        if (one.value < two.value) return 1
        return 0
      })

      let sliceIndex = entries.length >= this.maxPieces ? this.maxPieces : entries.length

      while (sliceIndex > 2 && entries[sliceIndex - 2].value <= entries[sliceIndex - 1].value) {
        --sliceIndex
      }

      if (entries.length > this.maxPieces) {
        --sliceIndex
      }

      let notGroupedEntries = entries.slice(0, sliceIndex)
      let groupedEntries = entries.slice(sliceIndex, entries.length)

      let labels = notGroupedEntries.map(entry => entry.label)
      let data = notGroupedEntries.map(entry => entry.value)
      let backgroundColor = colors.slice(0, notGroupedEntries.length + 1)

      if (groupedEntries.length > 0) {
        labels.push('Другие')
        data.push(groupedEntries.reduce((sum, entry) => { return sum + entry.value }, 0))
      }

      return {
        labels,
        datasets: [
          {
            data,
            backgroundColor
          }
        ]
      }
    }
  }
}
</script>
