<template>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ header }}</h1>
      <p class="lead">{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'jumbotron',
  props: {
    header: {
      required: true
    },
    text: {
      required: true
    }
  }
}
</script>
