<template>
  <div class="card" style="width: 100%; margin-bottom: 20px;" v-if="markers.length > 0">
    <div class="card-header">
      {{ header }}
    </div>
    <div class="card-body">
      <GmapMap
        :center="center"
        :zoom="zoom"
        style="width: 100%; height: 600px"
        ref="map"
      >
        <GmapMarker
          :key="index"
          v-for="(marker, index) in markers"
          :position="marker.position"
          :clickable="false"
          :draggable="false"
          @click="center = m.position"
        />
      </GmapMap>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: process.env.GMAPS_TOKEN
  }
})

export default {
  name: 'map-card',
  props: {
    header: {
      type: String,
      required: false,
      default: 'Геометки, найденные в постах пользователя'
    },
    markers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      center: { lat: 0.0, lng: 0.0 },
      zoom: 7
    }
  },
  mounted () {
    if (this.markers.length > 1) {
      let bounds = new window.google.maps.LatLngBounds()
      for (let marker of this.markers) {
        bounds.extend(marker.position)
      }
      this.$refs.map.$mapPromise.then(map => {
        map.fitBounds(bounds)
      })
    } else {
      this.center = this.markers[0].position
      this.zoom = 10
    }
  }
}
</script>

<style scoped>
  .card-body {
    margin: 0;
    padding: 0
  }
</style>
