<template>
  <div class="container">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Идентификатор пользователя Вконтакте"
        aria-label="ID пользователя"
        aria-describedby="basic-addon2"
        v-model="userId"
      >
      <div class="input-group-append">
        <button
          class="btn btn-outline-primary"
          type="button"
          v-on:click="$emit('submit', userId)"
        >Получить информацию</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'user-id-input',
  data () {
    return {
      userId: ''
    }
  }
}
</script>
