<template>
  <div class="card">
    <div class="card-header">{{  header }}</div>
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        :key="index"
        v-for="(propertie, index) in properties"
      >
        <small class="text-muted">{{ propertie.name }}</small>
        <br/>
        <b v-bind:class="{ 'not-specified': !propertie.value }">
          {{ propertie.value ? propertie.value : 'Не указано' }}
        </b>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'user-info-card',
  props: {
    header: {
      type: String,
      required: false,
      default: 'Основная информация'
    },
    properties: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
  .not-specified {
    color: darkgray;
  }
</style>
