<template>
  <div id="app">
    <jumbotron
      header="Мета профиль угрозы"
      text="Идентификация угроз информационной безопасности государственных информационных систем"
    ></jumbotron>

    <user-id-input
      v-on:submit="getUserInfo($event)"
    ></user-id-input>

    <spinner size="big" v-if="loading"></spinner>

    <div
      class="container"
      v-if="hasInfo && !loading"
    >
        <div class="card-columns">
          <user-info-card
            v-if="userInfo"
            v-bind:properties="userInfo"
          ></user-info-card>

          <chart-card
            header="Количество друзей по городам"
            :raw-data="friendsCities"
            v-if="friendsCities && Object.keys(friendsCities).length > 0"
          ></chart-card>

          <chart-card
            header="Города, полученные из анализа групп"
            :raw-data="groupsCities"
            v-if="groupsCities && Object.keys(groupsCities).length > 0"
          ></chart-card>
        </div>

        <map-card
          v-bind:markers="postMarkers"
          v-if="postMarkers && postMarkers.length > 0"
        ></map-card>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import api from './lib/api'

import Jumbotron from './components/Jumbotron'
import UserIdInput from './components/UserIdInput'
import Spinner from 'vue-simple-spinner'
import UserInfoCard from './components/UserInfoCard'
import ChartCard from './components/ChartCard'
import MapCard from './components/MapCard'

export default {
  components: {
    Jumbotron,
    UserIdInput,
    Spinner,
    UserInfoCard,
    ChartCard,
    MapCard
  },
  name: 'App',
  data () {
    return {
      response: {},
      error: null,
      hasInfo: false,
      loading: false
    }
  },
  methods: {
    getUserInfo (userId) {
      this.loading = true
      api.get(`/users/${userId}`)
        .then(result => {
          this.response = result.data
          this.error = null
          this.hasInfo = true
          this.loading = false
        })
        .catch(error => {
          console.error(error)
          this.error = error
          this.hasInfo = false
          this.loading = false
        })
    }
  },
  computed: {
    userAge () {
      if (!this.response || !this.response.birthDate) {
        return null
      }

      return moment().diff(moment(this.response.birthDate, 'DD.MM.YYYY'), 'years')
    },
    friendsAverageAge () {
      if (!this.response || !this.response.friendsAverageBirthYear) {
        return null
      }

      return moment().diff(moment(this.response.friendsAverageBirthYear, 'YYYY'), 'years')
    },
    userInfo () {
      if (this.response && this.hasInfo) {
        return [
          {
            name: 'Имя',
            value: `${this.response.firstName} ${this.response.lastName}`
          },
          {
            name: 'Город',
            value: this.response.city
          },
          {
            name: 'Возраст',
            value: this.userAge
          },
          {
            name: 'Cредний возраст друзей',
            value: this.friendsAverageAge
          }
        ]
      }

      return null
    },
    postMarkers () {
      if (this.response && this.hasInfo && this.response.postsWithGeo) {
        return this.response.postsWithGeo.map(post => {
          let coords = post.geo.coordinates.split(' ').map(elem => Number.parseFloat(elem))
          return {
            position: {
              lat: coords[0],
              lng: coords[1]
            }
          }
        })
      }
      return null
    },
    friendsCities () {
      if (this.response && this.hasInfo && this.response.friendsCities) {
        return this.response.friendsCities
      }
      return null
    },
    groupsCities () {
      if (this.response && this.hasInfo && this.response.groupsCities) {
        return this.response.groupsCities
      }
      return null
    }
  }
}
</script>
